__pycache__/
*.pyc

local_models/


models/*.pt

final_predict/prediction_with_features.csv
final_predict/predicted_kcat_output.csv

train_transkp/pretrain_log.csv
train_transkp/best_epoch_predictions.csv
train_caskp/caskp_cv_log.csv
train_caskp/caskp_cv_predictions.csv

.DS_Store
.idea/
.vscode/